html {
  overflow: auto;
}

html,
body {
  -ms-content-zooming: none;
  -ms-overflow-style: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
  margin: 0;
  min-width: 700px;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(29, 29, 29);
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

.top-navigation a {
  color: #aaaaaa;
  text-decoration: none;
  transition: 0.5s ease;
}

.top-navigation a:hover {
  color: white;
  transition: 0.5s;
}

.title {
  display: flex;
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.title-container {
  width: 505.41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Hahmlet', serif;
  font-size: 15pt;
}

.space-left {
  width: 5vw;
  height: 60px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.space-right {
  width: 5vw;
  height: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

p {
  margin: 0;
}
